@{
    var guid = Guid.NewGuid().ToString();
    var divId = $"panel-collapse-{guid}";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @RenderSection("title", required: false)
        <span class="pull-right btn btn-menu btn-xs" data-toggle="collapse" data-target="#@divId">
            <span class="fa fa-angle-down"></span>
        </span>
    </div>
    <div id="@divId" class="panel-collapse collapse @RenderSection("defaultCollapse", required: false)">
        <div class="panel-body">
            @RenderBody()
        </div>
    </div>
</div>