@{
    ViewBag.Title = "Ecran de chargement";
}

<a href="#" class="btn btn-info margin-top" onclick="showLoader()">Afficher l'écran de chargement</a>
<br/>
<a href="#" class="btn btn-info margin-top" onclick="hideLoader()" style="z-index: 9999; position:fixed;">Cacher l'écran de chargement</a>