<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<log4net debug="true" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="RollingLogFileAppender"
            type="log4net.Appender.RollingFileAppender"
            xdt:Locator="Match(name)">
    <file type="log4net.Util.PatternString">
      <conversionPattern value="..\logs\roldaice.web\%date{yyyy.MM.dd}.log" xdt:Transform="Replace" />
    </file>
  </appender>
</log4net>