@{
    ViewBag.Title = "Page introuvable";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Page introuvable
    </div>
    <div class="panel-body">
        <p class="text-danger">La page que vous recherchez est introuvable.</p>
    </div>
</div>