.image-overlay {
    position: relative;
    width: 100%;
    max-width: 400px;
}

    .image-overlay .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .image-overlay .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: lightgray;
    }

    .image-overlay:hover .overlay {
        opacity: 1;
    }

    .image-overlay a {
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-overlay .overlay a .fa:hover {
        color: dimgray;
    }
