@model Roldaice.Web.Models.Cryptograph.EnigmaModel
@{
    ViewBag.Title = "Enigma";
}

<h2>Enigma</h2>

<div class="panel">
    <div class="panel-heading">
        Configuration
    </div>
    <div class="panel-body collapse in">

    </div>
</div>